{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>Магазин автозапчастей</title>
        <link rel="stylesheet" href='{% static "website/css/styles.css" %}'>
        <meta charset="utf-8">
    </head>

    <body>
        <div class="background_image">
            <img src='{% static "website/images/background_2.jpg" %}'>
        </div>

        <div class="top_footer">
            <img src='{% static "website/images/top_footer.png" %}'>
        </div>

        <div class="content_body">
            <h1>Автозапчасти на любые ведра! Постоянным клиентам накидки!</h1>
            <h1>Заходи не бойся, уходи не плачь!</h1>
            <p>Вот такое мы продаем.</p>

            <div class="w3-content w3-section">
                <img class="mySlides w3-animate-fading" src='{% static "website/images/part_001.jpg" %}'>
                <img class="mySlides w3-animate-fading" src='{% static "website/images/part_002.jpg" %}'>
                <img class="mySlides w3-animate-fading" src='{% static "website/images/part_003.jpg" %}'>
                <img class="mySlides w3-animate-fading" src='{% static "website/images/part_004.jpg" %}'>
            </div>

            <p>Тут написано какие правила купли, продажи</p>
            <p>Как происходит доставка</p>
            <p>Всякое прочее гавно</p>
            <p>Всякое прочее гавно</p>
            <p>Всякое прочее гавно</p>
            <p>Всякое прочее гавно</p>
            <p>Всякое прочее гавно</p>
            <p>Всякое прочее гавно</p>
        </div>

        <div class="contacts">
            <h1>Это не хуйня, а красивая,</h1>
            <h1> стильная картинка-визитка</h1>
            <h1>Контакты:</h1>
            <p>телефон: +79123456789</p>
            <p>вацап: тут_вацап_контакт</p>
            <p>вибер: тут_вибер_контакт</p>
        </div>
    </body>
</html>

<script src='{% static "website/js/slider.js" %}'></script>
